{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}?v=20">
{% endblock %}

{% block branding %}
    <div class="brand-shell">
        <a href="{% url 'admin:index' %}" class="brand-link">
            <span class="brand-mark">TRS</span>
            <span class="brand-copy">
                <strong>Top Rental System</strong>
                <small>Operations Platform</small>
            </span>
        </a>
    </div>
{% endblock %}

{% block nav-global %}{% endblock %}