{# PATH: templates/admin/invoices/invoice/change_form.html #}
{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }}

    {% if show_post_button %}
        <li>
            <a href="{% url 'admin:invoice_post' original.pk %}" class="historylink">
                Post
            </a>
        </li>
    {% endif %}

    {% if show_reverse_button %}
        <li>
            <a href="{% url 'admin:invoice_reverse' original.pk %}" class="deletelink">
                Reverse
            </a>
        </li>
    {% endif %}
{% endblock %}